
@{
    ViewBag.Title = "Kullanıcı Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Profil -->
<div class="col-md-4">
    <div class="box box-primary">
        <div class="box-body box-profile">
            <img class="profile-user-img img-responsive img-circle" id="kulResim" src=""
                 alt="User profile picture">
            <h3 class="profile-username text-center" id="kulAdSoyad"></h3>
            <p class="text-muted text-center" id="kulMail"></p>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><strong><i class="fa fa-book margin-r-5"></i> Hakkımda</strong></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <p class="text-muted" id="kulHak">
                        B.S. in Computer Science from the University of Tennessee at Knoxville
                    </p>
                </div>
                <!-- /.box-body -->
            </div>
            <button href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#profilDuzenle"><b>Profil Düzenle</b></button>
            <button href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#parolaDegistir"><b>Parola Değiştir</b></button>
        </div>
        <!-- /.box-body -->
    </div>

</div>

<!-- Projeler -->
<div class="col-md-8">
    <div class="box box-primary">
        <div class="box-header ui-sortable-handle" style="cursor: move;">
            <i class="ion ion-plus"></i>
            <h3 class="box-title">Projelerim</h3>
        </div>
        <div class="box-body">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"></h3>
                    <div class="box-tools">
                        <div class="input-group input-group-sm">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Proje Ara" id="txtProjeAra">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" onclick="ProjeAra();"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th>ID</th>
                            <th>Proje Adı</th>
                            <th>Rol</th>
                            <th>Aktiflik</th>
                            <th>Detay</th>
                        </tr>
                        <tbody id="kisiProje"></tbody>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box-footer clearfix no-border">
                <a href="/Proje/ProjeOlustur" class="btn btn-primary pull-right" onclick="ProjeEkle();"> Proje Oluştur</a>
            </div>
        </div>
    </div>
</div>
      </section>

<!-- Profil Düzenle Modal -->
<div id="profilDuzenle" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><i class="fa fa-user margin-r-5"></i>Profil Düzenle</h4>
            </div>
            <div class="modal-body">
                <form>
                    <!--Ad-->
                    <div class="form-group">
                        <label for="Ad">Adınız</label>
                        <input type="text" class="form-control" id="txtAd" aria-describedby="Ad" placeholder="Adınızı giriniz." required>
                    </div>
                    <!--Soyad-->
                    <div class="form-group">
                        <label for="SurecAdi">Soyadınız</label>
                        <input type="text" class="form-control" id="txtSoyad" aria-describedby="Soyad" placeholder="Soyadınızı giriniz." required>
                    </div>
                    <!--Avatar-->
                    <div class="form-group">
                        <label for="ProfilResmi">Profil Resmi</label>
                        <input type="text" class="form-control" id="txtAvatar" aria-describedby="Avatar" placeholder="Profil resmi linkini giriniz."
                               required>
                    </div>
                    <!--Proje açıklama-->
                    <div class="form-group">
                        <label for="ProjeAciklama">Hakkımda</label>
                        <textarea class="form-control" id="txtHakkimda" rows="4" placeholder="Hakkınızda birşeyler yazın." required></textarea>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeç</button>
                <button type="button" class="btn btn-primary" onclick="ProfilGuncelle();">Kaydet</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Parola Değiştir Modal -->
<div id="parolaDegistir" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><i class="fa fa-lock margin-r-5"></i>Parola Değiştir</h4>
            </div>
            <div class="modal-body">
                <form>
                    <!--Eski Parola-->
                    <div class="form-group">
                        <label for="EskiParola">Eski Parola</label>
                        <input type="password" class="form-control" id="txtEskiSifre" aria-describedby="Ad" placeholder="Eski parolanızı giriniz." required>
                    </div>
                    <!--Yeni Parola-->
                    <div class="form-group">
                        <label for="YeniParola">Yeni Parola</label>
                        <input type="password" class="form-control" id="txtYeniSifre" aria-describedby="Ad" placeholder="Yeni parolanızı giriniz." required>
                    </div>
                    <!--Yeni Parola Onayla-->
                    <div class="form-group">
                        <label for="YeniParola">Yeni Parola Onayla</label>
                        <input type="password" class="form-control" id="txtYeniSifreT" aria-describedby="Ad" placeholder="Yeni parolanızı tekrar giriniz." required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="kapat">Vazgeç</button>
                <button type="button" class="btn btn-primary" onclick="SifreGuncelle();">Kaydet</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- BİTİŞ -->
<script>
    $(function () {
        $("body").load(ProfilBilgiCek());
        $("body").load(KisiselProjeListele());
    });
    function SifreGuncelle() {

        var eski = $("#txtEskiSifre").val();
        var yeni = $("#txtYeniSifre").val();
        var yeniT = $("#txtYeniSifreT").val();
        if (eski == "" || eski == null || eski.length < 6)
            alert("Şifre boş ve 6 karakterden aşağı olamaz");
        else if (yeni == "" || yeni == null || yeni.length < 6)
            alert("Şifre boş ve 6 karakterden aşağı olamaz");
        else if (yeniT == "" || yeniT == null || yeniT.length < 6)
            alert("Şifre boş ve 6 karakterden aşağı olamaz");
        if (yeni == yeniT) {
            $.post("/Profil/SifreGuncelle", { yeni: yeni, eski: eski }, function (sonuc) {
                if (sonuc == '+') {
                    $("input").val("");
                    $("#kapat").click();
                    alert("Şifre başarı ile değiştirildi.");
                    //window.location.reload(true);
                }
                else if (sonuc == '-')
                    alert("Sifre değiştirilenedi. Değerlerinizi kontrol ediniz. ");
                else
                    alert("Db den kaynaklı bir sorun var");
            });
        }
        else
            alert("Yanlış Bişeyler Var");
    }

    function ProfilGuncelle() {
        var data = {
            kullaniciAdi: $("#txtAd").val(),
            kullaniciSoyadi: $("#txtSoyad").val(),
            profilFoto: $("#txtAvatar").val(),
            hakkimda: $("#txtHakkimda").val()
        };
        if (data.kullaniciAdi == "" || data.kullaniciAdi == null)
            alert("Kullanıcı adı boş olamaz.");
        else if (data.kullaniciSoyadi == "" || data.kullaniciSoyadi == null)
            alert("Kullanıcı soyadı boş olamaz.");

        $.post("/Profil/ProfilGuncelle", data, function (sonuc) {
            if (sonuc != '-')
                window.location.reload(true);
            else
                alert("Hata Oluştu. Güncelleme işlemi Başarısız.");
        });
    }
    function ProfilBilgiCek() {
        $.post("/Profil/BilgiCek", "", function (sonuc) {
            $.each(sonuc, function (i, item) {

                $("#kulAdSoyad").text(item.kullaniciAdi + ' ' + item.kullaniciSoyadi);
                $("#kulMail").text(item.email);
                $("#kulResim").attr("src", item.profilFoto);
                $("#kulHak").text(item.hakkimda);
                $("#txtAd").val(item.kullaniciAdi);
                $("#txtSoyad").val(item.kullaniciSoyadi);
                $("#txtAvatar").val(item.profilFoto);
                $("#txtHakkimda").val(item.hakkimda);
            });

        });
    }
    function RolAdiCek(projeId) {
        var data = {
            projeId: projeId
        };

        $.post("/Proje/Rollerim", data, function (sonuc) {
            console.log(sonuc);
            $.each(sonuc, function (j, jtem) {
                $("#rollu" + projeId).append(jtem);
            });
        });
    }
    function KisiselProjeListele() {
        $.post("/Proje/ProjeListele", function (data) {
            $.each(data, function (i, item) {
                RolAdiCek(item.projeId);
                if (item.aktifMi == true)
                    $("#kisiProje").append('<tr> <td>' + item.projeId + '</td> <td>' + item.projeAdi + '</td> <td id="rollu' + item.projeId + '"></td> <td><span class="label label-success">Aktif</span></td><td><a class="btn btn-default" href="/Proje/ProjeDetay/' + item.projeId + '">Detay</a></td> </tr>');
                if (item.aktifMi == false)
                    $("#kisiProje").append('<tr> <td>' + item.projeId + '</td> <td>' + item.projeAdi + '</td> <td id="rollu' + item.projeId + '"></td> <td><span class="label label-danger">Pasif</span></td> </tr>');
            });
        });

    }
</script>