@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Beklenmedik bir hata oluştu.</h2>
<img src="http://www.diziger.com/wp-content/themes/diziger/images/404.gif" />

