<!--Kayıt ve Giriş Ekranı-->
@{

    ViewBag.Title = "Büyüteç";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link href="~/Content/blue.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE.min.css" rel="stylesheet" />

</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="/Home/Index"><b>BÜYÜTEÇ</b>PYS</a>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg"><strong>Büyüteç İle Büyüyen Projeler</strong></p>
            <form action="#" method="post">

                <div class="form-group has-feedback">
                    <input type="email" class="form-control" placeholder="Email" id="txtGkulMail">
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>

                <div class="form-group has-feedback">
                    <input type="password" class="form-control" placeholder="Parola" id="txtGkulSifre">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <button type="button" class="btn btn-primary btn-block btn-flat" onclick="Giris();">Giriş</button>
                        
                    </div>
                    <a href="/Home/Kayitol" class="text-center" style="float:right; margin-right:20px;">Kayıt Ol</a>
                </div>
            </form>

        </div>
        <!-- /.login-box-body -->
    </div>
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        $("#txtAd,#txtSoyad").keyup(function () {
            if (this.value.match(/[^a-zA-Z]/g)) {
                this.value = this.value.replace(/[^a-zA-Z]/g, '');
            }
        });//harf

        function Giris() {

            var sifre1 = $("#txtGkulSifre").val();
            var email = $("#txtGkulMail").val();

            if (sifre1 == null || sifre1 == "" || sifre1.lenght < 6)
                alert("Şifreyi boş ve 6 karakterden aşağı olamaz");
            else if (email == null || email == "")
                alert("E-Posta boş Geçilemez");
            else {
                var veri = {
                    kulMail: $("#txtGkulMail").val(),
                    kulSifre: $("#txtGkulSifre").val()
                };
                console.log(veri);
                $.post("/Home/GirisYapKullanici", veri, function (sonuc) {
                    if (sonuc == '+')
                        location.href = "/Proje/Index";//değişecek
                    else
                        window.location.reload(true);
                });

            }
        }
    </script>
</body>
</html>





